.maintenance-page {
  height: calc(100vh - 32px - 70px);
  main {
    position: relative;

    .title {
      margin-top: 70px;
      font-size: 20px;
      font-weight: 700;
      line-height: 24.2px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #404040;
    }
    .stats {
      max-width: 343px;
      margin-top: 20px;
      margin-bottom: 20px;
      @media only screen and (min-width: 992px) {
        max-width: 420px;
      }
      .item {
        height: 90px;
        width: 90px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 6px 14px 0px #0000000f;
        @media only screen and (min-width: 992px) {
          height: 100px;
          width: 120px;
        }
        .number {
          font-size: 36px;
          font-weight: 500;
          color: #36a388;
          line-height: 43.57px;
        }
        .label {
          font-size: 9px;
          font-weight: 400;
          line-height: 10.89px;
          letter-spacing: 0.1428571492433548px;
          color: #404040;
        }
      }
    }
    .list {
      .no-request {
        height: 83px;
        max-width: 636px;
        background-color: #ffffff;
        backdrop-filter: blur(12px);
        box-shadow: 0px 8px 32px 0px #6e71911f;
        border-radius: 12px;
        padding: 16px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: #404040;
      }
    }
    .add-btn {
      position: fixed;
      right: 16px;
      bottom: 32px;
      cursor: pointer;
      @media only screen and (min-width: 992px) {
        position: absolute;
        right: calc((100vw - 636px - 32px) / 2);
        bottom: -80px;
      }
    }
  }
}
